@page
@model WRM.Web.Pages.ReasonabilityChecks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReasonabilityCheck</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonabilityCheck.Measurement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReasonabilityCheck.Measurement.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonabilityCheck.MinValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReasonabilityCheck.MinValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonabilityCheck.MaxValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReasonabilityCheck.MaxValue)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ReasonabilityCheck.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
