@page
@model WRM.Web.Pages.ReasonabilityChecks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReasonabilityCheck[0].Measurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonabilityCheck[0].MinValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonabilityCheck[0].MaxValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ReasonabilityCheck) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxValue)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
